[Unit]
Description=GruVi Service
After=network.target

[Service]
Environment="bot_key=REPLACE_WITH_YOUR_BOT_KEY"
Type=simple
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/gruviRepo
ExecStart=/home/ec2-user/gruviVenv/bin/python /home/ec2-user/gruviRepo/main.py
Restart=always

[Install]
WantedBy=multi-user.target
