[Unit]
Description=GruVi Service
After=network.target

[Service]
Environment="bot_key=BOT_KEY"
Type=simple
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/gruviRepo
ExecStart=/home/ec2-user/BOT_NAMEVenv/bin/python /home/ec2-user/BOT_NAMERepo/main.py
Restart=always

[Install]
WantedBy=multi-user.target
