[Unit]
Description=BOT_NAME Service
After=network.target

[Service]
Environment="bot_key=BOT_KEY"
Type=simple
User=zkanga
Group=zkanga
WorkingDirectory=/home/zkanga/gruviRepo
ExecStart=/home/zkanga/BOT_NAMEVenv/bin/python3 /home/zkanga/DiscordBotTemplate/main.py
Restart=always

[Install]
WantedBy=multi-user.target
